
<div class="card m-1">
    <div class="card-body">
        <div class="list-group list-group-flush">
            <a asp-action="index" asp-controller="home" class="list-group-item list-group-item-action">Home</a>
            <a href="#" class="list-group-item list-group-item-action">My Tasks</a>
            <a href="#" class="list-group-item list-group-item-action">Inbox</a>
            <a asp-action="index" asp-controller="project" class="list-group-item list-group-item-action">Projects</a>
            <a asp-action="index" asp-controller="team" class="list-group-item list-group-item-action">Teams</a>
        </div>
    </div>
</div>

