@using ProjectManagement.UI.Models.Project
@model List<ProjectTasksVM>

<div class="card">
    <div class="card-header">Project <button class="btn btn-success btn-sm">New Task</button></div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Task desc.</th>
                    <th>Dua Date</th>
                    <th>User</th>
                    <th>Is Complate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.TaskDescription</td>
                        <td>@task.DueDate.ToShortDateString()</td>
                        <td>@task.UserName</td>
                        <td>@task.IsComplate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>