
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Home</a>
                            <a href="#" class="list-group-item list-group-item-action">My Tasks</a>
                            <a href="#" class="list-group-item list-group-item-action">Inbox</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"> Projects</div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Project 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Project 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Project 3</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12"
                <div class="card">
                    <div class="card-header"> Teams</div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Team 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Team 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Team 3</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-md-9">
        Home...
    </div>
</div>

