
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Home..</p>

@*<script>
    function SelectProject(projectId) {
        $.post('@Url.Action("GetProjectDetail", "Home")',
            {
                projectId: projectId,
            },
            function (returnedData) {
                $('#homeContent').html(returnedData)
            }).fail(function (message) {
                alert(message.responseText)
            });
    }
</script>*@

