@using ProjectManagement.UI.Models.ProjectTask
@model ProjectTaskAddUpdateVM

<form id="add-update" asp-controller="projectTask" asp-action="save" class="needs-validation" novalidate>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProjectId" />
    
    <div class="row gy-1">

        <div class="col-md-12">
            <label class="form-label">Description</label>
            <input class="form-control form-control-sm" type="text" placeholder="Task Description" asp-for="Description" />
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="col-md-6">
            <label class="form-label">Due Date</label>
            <input type="date" class="form-control form-control-sm" asp-for="DueDate" placeholder="Date Of Birth" />
            <span class="text-danger" asp-validation-for="DueDate"></span>
        </div>
        <div class="col-md-6">
            <label class="form-label">User</label>
            <select class="form-select form-select-sm" asp-for="UserId">
                <option value="" disabled selected>User</option>
                @foreach (var user in Model.userVMs)
                {
                    if (user.Id == Model.UserId)
                    {
                        <option selected value="@user.Id">@user.UserName</option>
                    }
                    else
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="UserId"></span>
        </div>
        <div class="col-md-3">
            <div class="form-check form-switch mt-4">
                <input class="form-check-input" asp-for="IsComplate" type="checkbox">
                <label class="form-check-label">Is Complate</label>
            </div>
        </div>



        <div class="col-md-3">
            <div class="form-check form-switch mt-4">
                <input class="form-check-input" asp-for="IsActive" type="checkbox">
                <label class="form-check-label">Is Active</label>
            </div>
        </div>

    </div>
</form>

<script>
    $(function () {
        jQuery.validator.unobtrusive.parse("#add-update");
    });
</script>